<div id="content">
    <div class="row top50">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="well well-sm well-light">
                <h4 class="txt-color-blue">Total <span class="semi-bold">users</span> <a ng-click='countUsers()' class="pull-right"><i class="fa fa-refresh"></i></a></h4>
                <br>
                <div class="text-center">
                    <div class="txt-color-blue display-inline">
                        <h4 class="font-xl">
                            <strong>{{scpAggregations.totalUsers}}</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="well well-sm well-light">
                <h4 class="txt-color-blue">Total <span class="semi-bold">organizations</span> <a ng-click='countOrganizations()' class="pull-right"><i class="fa fa-refresh"></i></a></h4>
                <br>
                <div class="text-center">
                    <div class="txt-color-blue display-inline">
                        <h4 class="font-xl">
                             <strong>{{scpAggregations.totalOrganizations}}</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="well well-sm well-light">
                <h4 class="txt-color-blue">Total <span class="semi-bold">events</span> <a ng-click='countEvents()' class="pull-right"><i class="fa fa-refresh"></i></a></h4>
                <br>
                <div class="text-center">
                    <div class="txt-color-blue display-inline">
                        <h4 class="font-xl">
                            <strong>{{scpAggregations.totalEvents}}</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="well well-sm well-light">
                <h4 class="txt-color-blue">Total <span class="semi-bold">petitions</span> <a href="#" ng-click='countPetitions()' class="pull-right"><i class="fa fa-refresh"></i></a></h4>
                <br>
                <div class="text-center">
                    <div class="txt-color-blue display-inline">
                        <h4 class="font-xl">
                            <strong>{{scpAggregations.totalPetitions}}</strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	