<div class="panel panel-default">
    <div class="panel-body status">
        <div class="who clearfix">
            <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-8 noPaddingLeft">
                    <span class="name"><b><a ui-sref="app.profile({type:'user', id:'{{event.author.id}}'})">{{event.author.name}}</a></b> </span>
                    <span class="posted"><b>{{event.tracking.created | date:'yyyy-MM-dd HH:mm:ss'}}</b></span>    
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 noPaddingRight">
                    <article-report article-type="'events'" article-data=event/>
                </div>   
            </div>
            <div class="row top5">
                <h3 class="margin-top-0">{{event.title}} - <span class="status"><b>{{event.eventState}}</b></span></h3>
            </div>
            <div class="row">
                <div class="col-sm-8 col-xs-8 noPaddingLeft">
                    <div class="tags">
                        <span><b>Tags:</b></span>
                        <span class="control-label1" ng-repeat-start="tag in event.tags track by tag.name">{{tag.name}}</span> 
                        <span ng-repeat-end>{{$last ? '' : ', '}}</span>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-4 noPaddingRight">
                    <button ng-show="isAdmin"
                            ng-click='participate(event.id)' 
                            class="btn btn-primary">Participate</button>
                </div>
            </div>
        </div>            
        <div class="image">
            <!--<img src="styles/img/realestate/6.png" alt="img">-->
            <div class="text-wrap">{{event.description}}</div>
        </div>
        <div class="inline links">
<!--            <div class="inline" ng-include="'app/vote/partials/vote.tpl.html'"/>-->
            <a ng-click='vote($index, event.id, "events", "positive")'><i class="fa fa-thumbs-o-up"></i> Like  {{event.aggregatedVotes.totalPositives}}</a>
	        <a ng-click='vote($index, event.id, "events", "negative")'><i class="fa fa-thumbs-o-down"></i> Dislike {{event.aggregatedVotes.totalNegatives}}</a>
            <a class="text-muted" ng-click='showComments($index, "events", event.id)'>Show All Comments {{event.aggregatedComments.totalComments}}</a>
        </div>
        <div class="comments"><!--ng-include="'app/comments/partials/comment.tpl.html'"-->
            <li class="message message-reply" 
                ng-animate="'animate'" 
                ng-repeat="comment in event.comments track by comment.id">
                <article-comment comment=comment/>
            </li>
            <li>
                <input class="form-control input-xs" 
                       placeholder="Type and enter" 
                       ng-model="commentText" 
                       ng-enter="comment($index, commentText, 'events', {{event.id}})" 
                       type="text">
            </li>
        </div>
    </div>
</div>
